//@use './_mediaq';
@use './loader';
@use './reset';

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;700;800&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	//overflow: hidden;
	font-size: 62.5%;
	//font-family: 'Space Grotesk', sans-serif;
	font-family: 'Syne', sans-serif;

	cursor: cell;
}
body {
	background: #000707;
	color: #e7e7e7;
	//max-width: 100%;
}
#body-container {
	display: none;
	//display: block;
}
canvas {
	display: block;
	cursor: grab;
}

#script-container {
	//opacity: 0.16;
	display: block;
}
.container1 {
	//transition: all 497 ease-in;
	height: 100vh;
	width: 100%;
	//opacity: 0.92; ?why?does?it?do?that?
}
.container2 {
	//transition: all 357ms ease-in;
	background-color: #1e3136;

	border-inline: 7px groove #77f7f71e;
	border-radius: 7px;
	width: 611px;
	max-height: 84vh;

	margin: 0 auto;
	margin-top: -88vh;

	padding: 35px 70px;
	font-size: 32px;
	overflow: auto;
	h3 {
		margin-bottom: 21px;
		font-weight: 700;
	}
	p {
		color: #ffbb4e;
		line-height: 3rem;
		font-size: large;
		text-shadow: 1px 1px 7px#ffbb4e;
	}
	h3,
	h4,
	h5 {
		-webkit-text-stroke: 0.14rem #77f7f757;
	}
	//display: none;
}
//
.container2::-webkit-scrollbar {
	display: none;
}
.container2--text {
}
.container3 {
	transition: all 147 ease-in;
}
.targets {
	display: none;
}
@media (max-width: 900px) {
	.targets {
		display: block;
		//user-drag: none;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		opacity: 0.35;
	}
	#target1 {
		position: absolute;
		left: 7px;
		top: 49%;
		transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		width: 21px;
	}
	#target2 {
		position: absolute;
		right: 7px;
		top: 49%;
		width: 21px;
	}
}
#link-dci {
	text-decoration: none;
	color: aquamarine;
	text-shadow: none;
	&:hover,
	&:active,
	&:focus {
		cursor: help;
	}
}
#whatsnext {
	text-shadow: none;
	opacity: 21%;
	font-weight: 700;
	&:hover,
	&:active,
	&:focus {
		cursor: no-drop;
		color: #e7e7e7;
		transition: all 1477ms ease-in;
		opacity: 91%;
	}
}
#lucae {
	font-size: 1.47em;
	text-shadow: none;
	-webkit-text-stroke: 0.35rem #77f7f777;
}
#creation {
	font-size: small;
	opacity: 0.77;
	transition: all 211ms ease-out;
	&:hover {
		font-size: large;
		opacity: 1;
	}
}
#pfolio {
	position: absolute;
	transform: translateY(28px);
	overflow: hidden;
	font-size: 0.49em;
	font-weight: 300;
}

.personality {
	color: #e7e7e7;
	text-align: center;
	font-size: 14.777px;
	font-weight: 700;
	opacity: 0.049;
	line-height: 1.7rem;
	transition: all ease-in 0.21s;
	&:hover,
	&:active,
	&:focus {
		-webkit-text-stroke: 0.49rem #77f7f721;
		opacity: 1;
		transition: all ease-out 0.49s;
	}
}
.p1 {
	margin-top: 14px;
}
.p2 {
	margin-top: 7px;
	margin-bottom: 14px;
}
.skills {
	margin-left: 28px;
	text-indent: -7px;
	font-size: 1.4rem;
	ul > li {
		list-style: disc;
	}
}
/////////////////////////////////////////////////
.imgx1 {
	img {
		width: 77px;
	}
	position: fixed;
	top: 42px;
	left: 42px;
	opacity: 84%;
	mix-blend-mode: color-dodge;
	transition: all 357ms ease-in;
	&:hover,
	&:active,
	&:focus {
		transform: scale(21);
		opacity: 0.91;
		transition: all 350ms ease-out;
	}
}
// animation -> complete later
//.imgx1 {
//	animation: scale-up-center 1.2s ease-out 0s infinite alternate both;
//}
//@keyframes scale-up-center {
//	0% {
//		transform: scale(0.7);
//	}
//	100% {
//		transform: scale(2);
//	}
//}

/* AUDIO */
.audiodiv {
	position: absolute;
	bottom: 7px;
	right: 21px;
	font-size: 7rem;
	color: #77f7f7;
}
.audiodiv-dart {
	position: absolute;
	transform: translateY(-63px) translateX(-35px);
	transition: all 497ms ease-in;
	opacity: 0.49;
	cursor: crosshair;
	&:hover,
	&:active,
	&:focus {
		color: #ffbb4e;
		opacity: 1;
		transition: all 497ms ease-in;
	}
}
#music-symbol {
	font-size: 42px;
}
audio {
	height: 6.7rem;
	//width: 71px;
	width: 35px;
	cursor: crosshair;

	padding: 2px;
	background-color: #1e3136;
	border: 5px solid #ffbb4e;
	border-radius: 42px;

	opacity: 0.77;
	transition: all 357ms ease-in;
	&:hover,
	&:active,
	&:focus {
		box-shadow: 0px 0px 21px 7px #ffbb4e;
		transform: scale(1.4);
		opacity: 1;
		transition: all 210ms ease-out;
	}
}
/////////////////////////////////////////////////
// HOME-NAV
ul {
	list-style: none;
}
.logo {
	font-size: 2rem;
}
.home {
	transition: all 497ms ease-in;

	//z-index: 99;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
	position: fixed;
	top: 0;
	width: 100%;
	font-size: 28px;
	color: #ffbb4e;
}
.menu-div {
	cursor: pointer;
	transition: all 1.4s ease-out;
	overflow: hidden;
}

.menu-div:hover {
	color: rgba(128, 128, 128, 0.07);
	//font-weight: 700;
	font-size: 200%;
	transform: skew(49deg, -7deg);
	transition: all 0.35s ease-out;
}

// Menu Stuff
.menu {
	//opacity: 0.3;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 42px;
	position: fixed;
	top: -200vh;
	align-items: center;
	background-color: #1e3136fd;
	font-size: 2em;
	line-height: 1.4;
}
.menu-container {
	z-index: 3;
}

.nav {
	margin-bottom: -20px;
}

.nav-link {
	color: #e7e7e7;
	text-decoration: none;
	font-size: 7rem;
	//color: #77f7f7;

	transition: all 0.41s ease-in-out;
	&:hover {
		text-decoration: line-through 77px #e7e7e72c;
		opacity: 0;
		//color: #273a3a;
	}
}
.background {
	position: absolute;
	font-size: 35.77rem;
	font-weight: 600;
	color: #77f7f7;
	opacity: 0.35;
	//opacity: 0.49;
	user-select: none;
	z-index: -1;
	letter-spacing: -14px;
	transform: translateX(77px) scaleX(140%) scaleY(77%);
	text-shadow: 0px -7px 7px #77f7f7;
}
.e {
	font-size: 7.77rem;
	transform: translateX(403px) translateY(-1px) scaleX(1900%) scaleY(150%);
}
.small-number {
	font-size: 1.2rem;
}

.exit {
	cursor: pointer;
	position: absolute;
	right: 42px;
	top: 35px;
	&:hover,
	&:active,
	&:focus {
		opacity: 0;
		transition: all 497ms ease-out;
	}
}

.title {
	font-size: 1.777rem;
	color: #ffbb4e;
}

// MENU RIGHT
//
.info-divs {
	margin-top: 35px;
	margin-bottom: 14px;
	> p {
		font-size: 1.63rem;
	}
}
.right {
	padding-right: 49px;
}
.information {
	margin-bottom: 21px;
}
.callme {
	letter-spacing: 3px;
	a {
		text-decoration: none;
		color: inherit;
		transition: all 0.28s ease-in-out;
		&:hover,
		&:active,
		&:focus {
			color: #77f7f7;
			text-decoration: overline;
			text-shadow: 1px 1px 7px #dedede;
		}
	}
}

//.social-container2s {}
#heart {
	position: absolute;
	margin-left: 3px;
}
.social-medias > p > a {
	color: #e7e7e7;
	text-decoration: none;
	letter-spacing: 3px;
	transition: all 0.2s ease-in-out;
	&:hover,
	&:active,
	&:focus {
		opacity: 0;
	}
}
// Media Queries
@media (max-width: 1024px) {
	.imgx1 {
		&:hover,
		&:active,
		&:focus {
			transform: scale(14);
		}
	}
}
@media (max-width: 966px) {
	.container2 {
		width: 560px;
	}
	.home {
		font-size: 2.4rem;
	}
	.nav-link {
		font-size: 5rem;
	}
	.info-divs {
		font-size: 1.5rem;
	}
}
@media (max-width: 767px) {
	.container2 {
		width: 483px;
		padding: 35px 49px;
	}
	.imgx1 {
		&:hover,
		&:active,
		&:focus {
			transform: scale(12);
		}
	}

	.audiodiv {
		color: #77f7f7;
	}
	.home {
		font-size: 2.4rem;
	}
	.background {
		transform: translateX(7px) scaleX(140%) scaleY(77%);
	}
	.e {
		font-size: 7.77rem;
		transform: translateX(333px) translateY(-1px) scaleX(1900%) scaleY(150%);
	}
}
.nav-link {
	font-size: 4rem;
	&:hover {
		text-decoration: line-through 49px #e7e7e72c;
	}
}
.info-divs {
	font-size: 1.4rem;
}

@media (max-width: 660px) {
	.container2 {
		width: 427px;
		padding: 35px 42px;
	}
	.container2--text > p {
		line-height: 2.8rem;
	}
	.imgx1 {
		&:hover,
		&:active,
		&:focus {
			transform: scale(9);
		}
	}

	.home {
		font-size: 2.1rem;
	}

	.menu {
		flex-direction: column;
		justify-content: center;
	}
	.right {
		position: absolute;
		right: -28px;
		bottom: 28px;
	}
	.options,
	.background {
		margin-bottom: 210px;
	}
	.background {
		transform: translateX(-7px) scaleX(140%) scaleY(77%);
	}
	.e {
		font-size: 7.77rem;
		transform: translateX(-333px) translateY(-1px) scaleX(1900%) scaleY(150%);
	}
	.info-divs {
		transform: translateY(-21px);
	}
}
@media (max-width: 544px) {
	.container2 {
		width: 343px;
		padding: 28px 21px;
	}
	.container2--text > p {
		line-height: 2.5rem;
	}
	.personality {
		line-height: 1.5rem;
	}
	.imgx1 {
		&:hover,
		&:active,
		&:focus {
			transform: scale(8);
		}
	}

	.home {
		font-size: 1.8rem;
	}
	.background {
		transform: translateX(147px) scaleX(140%) scaleY(77%);
	}
	.e {
		font-size: 7.77rem;
		transform: translateX(-273px) translateY(-1px) scaleX(1900%) scaleY(150%);
	}
}
@media (max-width: 440px) {
	.container2 {
		width: 322px;
		padding: 14px 14px;
	}
	.imgx1 {
		&:hover,
		&:active,
		&:focus {
			transform: scale(10);
		}
	}

	.imgx1 {
		top: 35px;
		left: 35px;
		img {
			width: 56px;
		}
	}

	.home {
		font-size: 1.65rem;
	}
	.nav-link {
		font-size: 3rem;
		&:hover {
			text-decoration: line-through 35px #e7e7e72c;
		}
	}
}
@media (max-width: 360px) {
	.container2 {
		width: 315px;
		padding: 14px 14px;
	}
	.nav-link {
		font-size: 2.4rem;
	}
	.nav {
		padding-left: 21px;
		width: 333px;
	}
}
