// HOME-NAV
ul {
	list-style: none;
}
.logo {
	font-size: 2rem;
}
.home {
	transition: all 497ms ease-in;

	//z-index: 99;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
	position: fixed;
	top: 0;
	width: 100%;
	font-size: 28px;
	color: #ffbb4e;
}
.menu-div {
	cursor: pointer;
	transition: all 1.4s ease-out;
	overflow: hidden;
}

.menu-div:hover {
	color: rgba(128, 128, 128, 0.07);
	//font-weight: 700;
	font-size: 200%;
	transform: skew(49deg, -7deg);
	transition: all 0.35s ease-out;
}

// Menu Stuff
.menu {
	//opacity: 0.3;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 42px;
	position: fixed;
	top: -200vh;
	align-items: center;
	background-color: #1e3136fd;
	font-size: 2em;
	line-height: 1.4;
}
.menu-container {
	z-index: 3;
	> h1 {
		transform: translateY(-42px);
		cursor: all-scroll;
	}
}
.nav {
	margin-bottom: -20px;
}
.nav-link {
	color: #e7e7e7;
	text-decoration: none;
	font-size: 5rem;
	//color: #7fffff;
	cursor: help;

	transition: all 0.41s ease-in-out;
	&:hover {
		text-decoration: line-through 135px #e7e7e7b0;
		opacity: 0;
		//color: #273a3a;
	}
}
.background {
	position: absolute;
	font-size: 35.77rem;
	font-weight: 600;
	color: #7fffff;
	opacity: 0.35;
	//opacity: 0.49;
	user-select: none;
	z-index: -1;
	letter-spacing: -14px;
	transform: translateX(77px) scaleX(140%) scaleY(77%);
	text-shadow: 0px -7px 7px #7fffff;
}
.e {
	font-size: 7.77rem;
	transform: translateX(403px) translateY(-1px) scaleX(1900%) scaleY(150%);
}
//
.p-live {
	color: #7fffff;
	font-size: 21px;
	cursor: alias;
	text-decoration: none;
	color: #e7e7e7;
	&:hover {
		text-decoration: underline #ffbb4e;
	}
}
.p-description {
	display: flex;
	flex-direction: column;
	font-size: 1.4777rem;
	@media (max-width: 767px) {
		font-size: 12px;
	}
	margin-left: 49px;
	margin-bottom: 28px;
	margin-top: -7px;
	color: #7fffff;
	> a {
		transition: all 497ms ease-out;
		opacity: 0.7;
		text-decoration: none;
		&:hover {
			opacity: 0;
		}
	}
	> :nth-child(2) {
		color: #e7e7e7;
		word-spacing: -1px;
	}
}

.exit {
	cursor: pointer;
	position: absolute;
	right: 42px;
	top: 35px;
	&:hover,
	&:active,
	&:focus {
		opacity: 0;
		transition: all 497ms ease-out;
	}
}

// MENU RIGHT

.right {
	padding-right: 21px;
	@media (max-width: 767px) {
		padding-right: 49px;
	}
}
.title {
	color: #ffbb4e;
}
.info-divs {
	margin-top: 35px;
	margin-bottom: 14px;
	> p {
	}
}

.callme {
	letter-spacing: 3px;
	a {
		text-decoration: none;
		color: inherit;
		transition: all 0.28s ease-in-out;
		&:hover,
		&:active,
		&:focus {
			color: #7fffff;
			text-decoration: overline;
			text-shadow: 1px 1px 7px #e7e7e7;
		}
	}
}
//.social-container2s {}
#heart {
	position: absolute;
	margin-left: 3px;
}
.social-medias > p > a {
	color: #e7e7e7;
	text-decoration: none;
	letter-spacing: 3px;
	transition: all 0.14s ease-in-out;
	&:hover,
	&:active,
	&:focus {
		opacity: 0;
	}
}
